In [9]:
from TableExtract import HTMLTableParser
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [21]:
#url = 'http://www.cfbstats.com/2017/team/8/passing/defense/gamelog.html'
url = 'http://www.cfbstats.com/2017/team/31/interception/gamelog.html'

In [22]:
hp = HTMLTableParser()
df = hp.parse_url(url)[0][1]
df

,Date,Opponent,Surface,Result,Int.,Yards,TD
0,08/31/17,+ Florida A&M,Turf,W 49-7,0.0,0.0,0.0
1,09/09/17,9 TCU,Turf,L 7-28,1.0,16.0,0.0
2,09/23/17,+ Texas A&M,Turf,L 43-50,1.0,3.0,0.0
3,09/30/17,New Mexico St.,Turf,W 42-24,1.0,0.0,0.0
4,10/07/17,@ South Carolina,Grass,L 22-48,0.0,0.0,0.0
5,10/14/17,@ 1 Alabama,Grass,L 9-41,1.0,0.0,0.0
6,10/21/17,10 Auburn,Turf,L 20-52,1.0,7.0,0.0
7,10/28/17,@ Mississippi,Grass,W 38-37,1.0,54.0,0.0
8,11/04/17,Coastal Caro.,Turf,W 39-38,0.0,0.0,0.0
9,11/11/17,@ 18 LSU,Grass,L 10-33,0.0,0.0,0.0
10,11/18/17,19 Mississippi St.,Turf,L 21-28,0.0,0.0,0.0
11,11/24/17,Missouri,Turf,L 45-48,2.0,63.0,0.0
12,,Totals,8,143,0.0,NaN,NaN
13,"@ : Away, + : Neutral Site",NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#FUNC: Drop last two rows
def dropTail(table):
    new_table = table.drop(table.tail(2).index)
    return new_table

In [14]:
#FUNC: Add game locations
def homeAway(table):
    game_locations = []

    for row in table['Opponent']:
        if '@' in row:
            game_locations.append('away')
        elif '+' in row:
            game_locations.append('neutral')
        else:
            game_locations.append('home')

    table['Location'] = game_locations
    return table

In [28]:
#FUNC: Update opponent names
def oppName(tableURL, table):
    response = requests.get(tableURL)
    soup = BeautifulSoup(response.text, 'lxml')
    rows = soup.select('td[class="opponent"]')
    
    team_names = []
    
    for row in rows:
        try:
            team_names.append(row.find('a').text)
        except:
            team_names.append('FCS')
    
    table['Opponent'] = team_names
    return table

In [29]:
df = oppName(url, df)
df

        Date         Opponent Surface   Result  Int.  Yards   TD Location
0   08/31/17              FCS    Turf   W 49-7   0.0    0.0  0.0  neutral
1   09/09/17              TCU    Turf   L 7-28   1.0   16.0  0.0     home
2   09/23/17        Texas A&M    Turf  L 43-50   1.0    3.0  0.0  neutral
3   09/30/17   New Mexico St.    Turf  W 42-24   1.0    0.0  0.0     home
4   10/07/17   South Carolina   Grass  L 22-48   0.0    0.0  0.0     away
5   10/14/17          Alabama   Grass   L 9-41   1.0    0.0  0.0     away
6   10/21/17           Auburn    Turf  L 20-52   1.0    7.0  0.0     home
7   10/28/17      Mississippi   Grass  W 38-37   1.0   54.0  0.0     away
8   11/04/17    Coastal Caro.    Turf  W 39-38   0.0    0.0  0.0     home
9   11/11/17              LSU   Grass  L 10-33   0.0    0.0  0.0     away
10  11/18/17  Mississippi St.    Turf  L 21-28   0.0    0.0  0.0     home
11  11/24/17         Missouri    Turf  L 45-48   2.0   63.0  0.0     home

In [25]:
df = dropTail(df)
df

        Date            Opponent Surface   Result  Int.  Yards   TD
0   08/31/17       + Florida A&M    Turf   W 49-7   0.0    0.0  0.0
1   09/09/17               9 TCU    Turf   L 7-28   1.0   16.0  0.0
2   09/23/17         + Texas A&M    Turf  L 43-50   1.0    3.0  0.0
3   09/30/17      New Mexico St.    Turf  W 42-24   1.0    0.0  0.0
4   10/07/17    @ South Carolina   Grass  L 22-48   0.0    0.0  0.0
5   10/14/17         @ 1 Alabama   Grass   L 9-41   1.0    0.0  0.0
6   10/21/17           10 Auburn    Turf  L 20-52   1.0    7.0  0.0
7   10/28/17       @ Mississippi   Grass  W 38-37   1.0   54.0  0.0
8   11/04/17       Coastal Caro.    Turf  W 39-38   0.0    0.0  0.0
9   11/11/17            @ 18 LSU   Grass  L 10-33   0.0    0.0  0.0
10  11/18/17  19 Mississippi St.    Turf  L 21-28   0.0    0.0  0.0
11  11/24/17            Missouri    Turf  L 45-48   2.0   63.0  0.0

In [26]:
df = homeAway(df)
df

        Date            Opponent Surface   Result  Int.  Yards   TD Location
0   08/31/17       + Florida A&M    Turf   W 49-7   0.0    0.0  0.0  neutral
1   09/09/17               9 TCU    Turf   L 7-28   1.0   16.0  0.0     home
2   09/23/17         + Texas A&M    Turf  L 43-50   1.0    3.0  0.0  neutral
3   09/30/17      New Mexico St.    Turf  W 42-24   1.0    0.0  0.0     home
4   10/07/17    @ South Carolina   Grass  L 22-48   0.0    0.0  0.0     away
5   10/14/17         @ 1 Alabama   Grass   L 9-41   1.0    0.0  0.0     away
6   10/21/17           10 Auburn    Turf  L 20-52   1.0    7.0  0.0     home
7   10/28/17       @ Mississippi   Grass  W 38-37   1.0   54.0  0.0     away
8   11/04/17       Coastal Caro.    Turf  W 39-38   0.0    0.0  0.0     home
9   11/11/17            @ 18 LSU   Grass  L 10-33   0.0    0.0  0.0     away
10  11/18/17  19 Mississippi St.    Turf  L 21-28   0.0    0.0  0.0     home
11  11/24/17            Missouri    Turf  L 45-48   2.0   63.0  0.0     home

In [27]:
oppName(url)

['FCS',
 'TCU',
 'Texas A&M',
 'New Mexico St.',
 'South Carolina',
 'Alabama',
 'Auburn',
 'Mississippi',
 'Coastal Caro.',
 'LSU',
 'Mississippi St.',
 'Missouri']